<!DOCTYPE html>
<html lang="en">
<head>
	<% for (var ind in htmlWebpackPlugin.options.inserts.css ) { %>
	<link rel="stylesheet" href="/<%= htmlWebpackPlugin.options.inserts.css[ind] %>">
	<% } %>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<!--<link rel="shortcut icon" href="/images/Favicon@2x.png" type="image/png">-->
	<title>todo-project.test</title>
</head>
<body>

<main id="app">
	${_.template(require('./views/partials/header.html'))()}

	<% for (var ind in htmlWebpackPlugin.options.inserts.content ) { %>
	${_.template(require('./'+htmlWebpackPlugin.options.inserts.content[ind]))()}
	<% } %>

	${_.template(require('./views/partials/footer.html'))()}
</main>
<% for (var ind in htmlWebpackPlugin.options.inserts.js ) { %>
<script src="/<%= htmlWebpackPlugin.options.inserts.js[ind] %>"></script>
<% } %>
</body>
</html>
